body {
    background-color: #131414; 
    color: #eed8c3; 
    font-family: Segoe WPC,Segoe UI,sans-serif;

    display: flex;
    margin: 0;
}

nav {
    color: #8e8174;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    position: relative;
    height: 32px;
    padding-left: 2.5em;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

nav ul li:hover {
    background-color: #9d79da22;
    color: #f9e9da;
}

nav ul svg {
    position: absolute;
    left: 0.5em;
    color: #ca89de;
}

.search-bar {
    display: flex;
    gap: 1em;
}

.search-bar input {
    flex-grow: 1;
}

input, button {
    background-color: transparent;
    color: #eed8c3;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 0.6em;
}

input {
    border: 3px solid #ffffff11;
    font-size: 0.9em;
}

input:focus {
    border: 3px solid #9d79da88;
    color: #eed8c3;
}

button {
    cursor: pointer;
    border: 3px dashed #ffffff22;
    color: #eed8c3;
}

button:hover {
    background-color: #9d79da44;
    border: 3px dashed #9d79da88;
}

section {
    background-color: #202020;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 0 320px 0 0;
}

#doc {
    width: 75%;
    max-width: 1024px;
    min-height: 100vh;
}

@media only screen and (max-width: 1280px) {
    section {
        padding: 0;
    }
}

@media only screen and (max-width: 720px) {
    #doc {
        width: calc(100% - 4em);
        max-width: 1024px;
        padding: 0 2em;
    }
}

h1, h2, h3, h4, h5 {
    position: relative;
    color: #f9e9da;
    padding: 0 0 0.5em 0;
    margin: 1.5em 0 0.5em 0;
}

h2 {
    font-size: 1.35em;
}

h1, h2, h3 {
    border-bottom: 1px solid #ffffff22;
}

img {
    background: #ffffff22;
    border-radius: 6px;
    margin: 0.5em;

    max-width: 100%;
}

b, strong {
    color: #9d79da;
}
